{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="Django, Python collaboration to achieve a functional website to allow users to enter news stories">
        <meta name="author" content="Bel Lloyd">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
            {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1>She {Codes} News</h1>
                </a>
            </div>
        </header>
        <div id="nav">
            {% include './nav.html' %}
        </div>
        <div id='create-story'>
            <h2>Welcome to the She Codes News Portal</h2>
            <p> Login first to create stories, then feel free to browse the latest stories below,
            search story titles below or get started with contributing to the page.</p>
            {% if request.user.is_authenticated %}
                <a class="add-story" href="{% url 'news:newStory'%}">Write New Story</a>
            {% else %}
                <p class="add-story" id="unlogged">Please login to add a story!</p>
            {% endif %}
        </div>
        {% comment %} <div id="new-story">
            {% if request.user.is_authenticated %}
                <a class="add-story" href="{% url 'news:newStory'%}">Write New Story</a>
            {% else %}
                <p class="add-story" id="unlogged">Please login to add a story!</p>
            {% endif %}
        </div> {% endcomment %}
        <div id="news-page">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
