@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');

body, html {
    height: 100%;
    max-width: 100%;
    margin:0;
}

body {
    background-color: white;
    padding: 20px;
}

header {
    height: 100px;
    width: max-width;
    margin: 0px, auto;
    display: flex;
    align-items: center;
    justify-content: center; 
}

h1, h2, h3 {
    color: pink
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family:'Poppins', sans-serif; 
   font-weight: 600;
   font-size: 2rem;
}

h3 {
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    margin: 0;
}

h4 {
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

#header-text {
    flex-basis: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    justify-content: center;
}

a {
    margin: 15px;
    text-decoration: none;
    color: rgb(104, 216, 231);
}

a:hover {
    color: rgb(202, 113, 240);
}

a, p {
    font-family: 'poppins','sans-serif';
    font-weight: 300;
}

form {
    padding: 50px;
    justify-content: flex-start;
    display: flex;
    font-size: 24px;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

input {
    padding: 10px;
    font-size: 1rem;
    text-transform: uppercase;
}

label {
    font-family: "Poppins", 'sans-serif';
    font-weight: 200;
    padding: 5px;
}

#id.author {
    padding: 2px;
    font-size: 12px;
}

.search_bar {
    padding: 10px;
    align-content: left;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    color: white;
    text-transform: uppercase;
}

#create-story {
    font-family: "Poppins",'sans-serif';
    font-size: 1rem;
    display: flex;
    justify-content: center;
    background-color: bisque    ;
    font-weight: 600;
    padding: 20px;
    text-align: center;
    flex-direction: column;

}

#create-story a {
    border: 1px, solid, black;
    color: rgba(255, 255, 255, 0.934);
    text-transform: uppercase;
}

p {
    color: grey;
}

#search {
    display: flex;
    justify-content: center;
    background-color: rgb(118, 212, 225, .3);
}