@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');

body, html {
    height: 100%;
    max-width: 100%;
    margin:0;
    padding: 50px;
}

body {
    background-color: mistyrose
}

header {
    height: 75px;
    margin: 20px 30px 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family:'Poppins', sans-serif; 
   font-weight: 600;
}

h3 {
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    background-color: #fff;
}

a {
    margin: 2px;
    text-decoration: none;
    color: pink;
}

a, p {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    padding: 50px;
    justify-content: flex-start;
    display: flex;
    align-content: center;
    font-size: 24px;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
