{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
    <div id='create-story'>
        <h2>Welcome to the She Codes News Portal</h2>
        <p> Login first to create stories, then feel free to browse the latest stories below,
        search story titles below or get started with contributing to the page.</p>
        <a href="{% url 'news:newStory' %}">Write New Story</a>
    </div>
    <div id='search'>
        <form class="search_bar" method="GET" action="" >
            <input class="search_bar" type="search" name="search"> 
            <button class="search_bar" type="submit"> Search Story Titles </button>
        </form>
    </div>
    <div>
        <h2>Latest News</h2>
    </div>
    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

{% endblock %}
